
* {
    box-sizing: border-box;
    display: block;
  
}
*{
    font-family:Arial; 
    }
    
  
    .a{
        width: 30%;
        height:100px ;
        background-color: rgb(154, 255, 189);
        display: block;
    }
    
body{
    margin: 0;
    padding: 0;
    border: 10px;
    border: solid #000; 
    font-family: Arial; 
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

header{
    
    background-color:  rgb(68, 164, 103);
  padding: 20px;
  text-align: center;
  border: solid #000;
}

.logo{
max-width:100%; 
background-color:rgb(90, 162, 134);
padding: 20px 5%;
margin: 10px;

}  
    
* {
    box-sizing: border-box;
    display: block;
    background-color: rgb(94, 194, 160);
}

    
    nav{
        max-height: 300px;
        background-color: rgb(94, 171, 142);
       display:flex;
       justify-content: space-evenly;
       margin: 10px;
       border: solid #000; 
}
     
      
nav a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}



.box{
    background-color:rgb(94, 194, 160);
   /* max-width:35% ; */
   display: inline-block;
    max-height: 270px;
    width: 100%;
    text-align: center;
    margin:10px ;
    box-sizing: border-box;
    border:solid black;
    padding: 20px;
}
.box a {
    padding: 20px;
    border: 2px solid black;
    display: block;
    margin: 20px;
} 


*{

    margin: 5px;
    padding: 0px;

}



.tabak{
    width: 30%;
    background-color: rgb(94, 194, 160);
    border-radius: 10px;
    box-shadow:1px 1px 4px black;
    border: solid black;
    margin:10px;
    display:block;
}
.image img{
    width: 100%;
    border-radius:50px;
}

.title{
    text-align: center;

}
.des{
    text-align: center;
}
button{
    FONT-WEIGHT: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:rgb(94, 194, 160);
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    cursor:pointer;
    text-align: center;
    display: block;
    justify-items: center;
}

.kobba{
  
        width: 30%;
        background-color: rgb(94, 194, 160);
        border:3px solid  #000;
        border-radius: 10px;
        box-shadow:1px 1px 4px black ;
        margin:10px ;
}



.title{
    text-align: center;

}
.des{
    text-align: center;
}


.near{
    max-width: 100%;
    max-height: 350px;
    background-color: rgb(90, 162, 134);
    display:flex;
   justify-content: space-around;
   margin: 10px;
   border: 10px;
   border:solid black;
   padding: 20px 5%;
   text-align: center;
 
}
.fieldset{
    background-color:  rgb(94, 194, 160);
    border:solid black ;
}
.about{
    background-color:  rgb(94, 194, 160);
}